.contentWrap {
width: 100%;
max-width:130vh;
margin: 5vh 25vh;
background-color:rgb(194, 194, 216);
display:flex;
flex-direction: column;
align-items: center;
overflow:hidden;
position:relative;
}


body {
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;

}

header {
    background-color:#353B41;
    height: 40px;
    width:100%;
    text-align:center;
    color: #fff;
    font-size:xx-large;
    font-weight: bolder;
    padding: 20px;
    position:relative;
}


/* Side scroll selectors */
.buttonSelectors {
    background-color: #353B41;
    width:80px;
    max-width:80px;
    height:fit-content;
    display:flex;
    flex-direction:column;
    align-items: left;
    position:sticky;
    float:left;
    margin-left:200px;
    top:0px;
}

.button {
    background-color: #353B41;
    width:80px;
    max-width:80px;
    height:25vh;

    border:#000;
    color:#fff;
    font-size:16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:20px;
    font-weight:bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    border: #353B41 solid 5pt;
}

.button:hover {
    background-color: #c8d9e9;
    transition: 0.6s;
    color:#000;
}

/* Developer divs start */
h1 {
    margin-top:auto;
    width:97%;
    padding:10px 10px;
    background-color: #92a0af;
    color:#ffffff;
    border-bottom: solid #6d7a88 10px;
    border-left: solid #6d7a88 5px;
    border-right: solid rgb(183, 200, 218) 5px;
    position:relative;
}


.mainDescriptor {
    width: 70%;
    height:fit-content;
    margin:80px 30px;
    background-color:#d6dfe9;
    border-bottom: solid #546479 10px;
    border-left: solid #73869c 5px;
    border-right: solid #73869c 5px;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}


.developer {
    width:350px;
    height:400px;
    border:#814878;
    border-width:4px;
    border-style: solid;
    object-fit: cover;
}

.divIntroduction {
    color:#09253f;
    margin:20px;
    max-width:40%;
    text-align:justify;
}


h2 {
    font-size:medium;
    text-align:center;
    position:relative;
}

/* developer divs end */


/* Portfolio examples start */
h3 {
    font-size: 32px;
    color:#ffffff;
}


.examplesHeader {
    width: 45%;
    height:60px;
    text-align:center;
    margin: auto;
    background-color:#18141bee;
    vertical-align: center;
    padding-top:5px;
    padding-bottom:20px;
    border-radius:20px;
    line-height:10px;
    position:relative;
}


.examplesDivWrap {
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 2%;
    display:flex;
    flex-direction:row;
    align-items: center;
    overflow:hidden;
    position:relative;
}

/* these are the circles under 'examples' */
.portfolioExamples {
    width: 240px;
    text-align:center;
    background-color: #3b1f42;
    border-radius:50%;
    color:#fff;
    overflow:hidden;
    transition: 0.8s;
    opacity:0.7;
    border: #09253f 3px solid;
}

.portfolioExamples:hover {
    opacity:1;
    border-radius:20%;
    transition: 0.8s;
    overflow:hidden;
}

.portfolioImage {
    height: 240px; 
    width: 240px;
    transition: 0.8s;
    border-radius:50%;
    object-fit:cover;

}

.portfolioImage:hover {
    opacity:1;
    transition: 0.8s;
    border-radius:20%;
    overflow:hidden;

}

/* Portfolio examples end */

footer {
    background-color:#353B41;
    height:80px;
    width:146vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-size:x-large;
    margin-top:5vh;
    padding: 20px;
    position:absolute inline;
    vertical-align: middle;
}

b {
    color:#a465be
}

.contact {
    position:relative;
    margin-left: 20px;
    align-content: center;
}

.git {
    height: 25px;
    width: 25px;
    filter:invert(100%)
}

.contactText {
    position:inline;
    padding-right:50px;
    margin-left:100px;
    margin-right:50px;
    font-size: 3.5em;
    border-right: solid 3pt #000;
}